.article-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .article-container img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    object-fit: cover;
  }


  .article-container h1 {
    font-size: 2.5rem;
    color: var(--color-texto);
    margin: 2rem 0 1rem;
  }

  .article-content {
    line-height: 2.5;
    color: var(--color-texto);
  }
 

  .article-content p {
    margin-bottom: 1rem;
    line-height: 1.7;
  }

  .article-content h2 {
    font-size: 1.8rem;
    color: var(--color-texto);
    margin: 2rem 0 1rem;
  }

  .article-content ul, .article-content ol {
    margin-bottom: 1rem;
    padding-left: 40px;

  }

  .article-content a {
    color: var(--color-primario);
    text-decoration: none;
  }

  .article-content a:hover {
    text-decoration: underline;
  }





  .article-meta {
    display: flex;
    gap: 1rem;
    color: #666;
    font-size: 0.9rem;
  }

  .article-meta span {
    display: inline-block;
  }

  .author {
    font-weight: bold;
  }

  .date, .reading-time {
    color: #888;
  }
