* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #007b5e;
    --color-secundario: #005a47;
    --color-texto: #333;
    --color-fondo: #f0f0f0;
    --color-fondo-elementos: #e0e0e0;
    --color-fondo-contenedor: #ffffff;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--color-primario);
}

a:hover {
    color: var(--color-primario);
    text-decoration: underline;

}


.contenedorcontenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contenedorelemento {
    background-color: var(--color-fondo-contenedor);
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedorcontenido h2 {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}


.griddoscolumnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
}

.gridtrescolumnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.divparrafo {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tarjetagrid {
    background-color: var(--color-fondo-elementos);
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarjetagrid h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.tarjetagrid p {
    margin-bottom: 15px;
}


.entidadgrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.entidadgridelemento {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}


.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    min-height: 350px;
    /* Altura mínima para evitar saltos de layout */
    background-color: var(--color-fondo-contenedor);
    border-radius: 15px;
}


.articulocard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--color-fondo-contenedor);

}

.articulocard img {
    width: 100%;
    object-fit: cover;
}

.articulocard h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.articulocard a {
    font-size: 1.1rem;
    color: var(--color-primario);


}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.pagination-controls button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-primario);
    background-color: white;
    color: var(--color-primario);
    cursor: pointer;
    font-weight: bold;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: var(--color-primario);
    color: white;
}

.pagination-controls button:disabled {
    border-color: #ccc;
    color: #ccc;
    cursor: not-allowed;
}

/* ---- Estilos para el menu ---- */

/* Header y navegación mejorada */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fondo-contenedor);
    color: var(--color-texto);
    padding: 15px 20px;
    position: relative;
    border-radius: 15px;
    height: 120px;
}

/* Botón hamburguesa oculto en pantallas grandes */
.menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: var(--color-primario);
    cursor: pointer;
}

.menu {
    display: flex;
}

.menu a {
    color: black;
    /* Color de los enlaces del menú */
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
}




.estilofooter {
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}


.espacio{
    height: 70px;
}







@media (max-width: 768px) {

    body {
        padding: 10px;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--color-fondo-contenedor);
        position: absolute;
        top: 60px;

        width: 100%;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu a {
        margin: 10px 0;
    }

    .contenedorcontenido {
        padding: 10px;
    }

    .contenedorelemento {
        padding: 10px;
    }

    .griddoscolumnas {
        grid-template-columns: 1fr;
    }

    .gridtrescolumnas {
        grid-template-columns: 1fr;
    }

}