---
import Layout from "../layouts/Layout.astro";
import HeaderInterna from "../components/HeaderInterna.astro";
import TarjetaGrid from "../components/TarjetaGrid.astro";

---

<Layout>
    <HeaderInterna titulo="Acerca de" />

    <div class="divparrafo"> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at tempus eros, id fermentum ligula. Vivamus quis elit ipsum. Phasellus non gravida massa. Vivamus eget lacus vel tellus imperdiet tempus tincidunt ac dolor. Fusce suscipit elementum lorem eget finibus. Morbi in porttitor ex. Nulla semper lorem nec odio porttitor gravida vel ac odio. Integer sit amet laoreet sapien.</p> 
      </div>


    <div class="gridtrescolumnas">
        <TarjetaGrid
            titulo="uno"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
        <TarjetaGrid
            titulo="dos"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />

        <TarjetaGrid
            titulo="tres"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />

        <TarjetaGrid
            titulo="cuatro"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />

        <TarjetaGrid
            titulo="cinco"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />

        <TarjetaGrid
            titulo="seis"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
    </div>
</Layout>
