---

import Layout from '../layouts/Layout.astro';
import HeroSlider from '../components/HeroSlider.astro';
import FraseTexto from '../components/FraseTexto.astro';
import BloqueImagenIzquierda from '../components/BloqueImagenIzquierda.astro';
import BloqueImagenDerecha from '../components/BloqueImagenDerecha.astro';	
import TresArticulos from '../components/TresArticulos.astro';

---

<Layout>
	<HeroSlider />
	<div class="espacio"></div>
	<FraseTexto />
	<div class="espacio"></div>
	<BloqueImagenIzquierda />
	<div class="espacio"></div>
	<BloqueImagenDerecha />
	<div class="espacio"></div>
	<TresArticulos />
</Layout>
