---
import Layout from "../layouts/Layout.astro";
import HeaderInterna from "../components/HeaderInterna.astro";
import TarjetaGrid from "../components/TarjetaGrid.astro";
---

<Layout>
    <HeaderInterna />
    

    <div class="gridtrescolumnas">

        <TarjetaGrid
            titulo="Servicio 1"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
        <TarjetaGrid
            titulo="Servicio 2"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
        <TarjetaGrid 
            titulo="Servicio 3"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
        <TarjetaGrid
            titulo="Servicio 4"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
        <TarjetaGrid
            titulo="Servicio 5"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
        <TarjetaGrid
            titulo="Servicio 6"
            descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
            enlace="#"
        />
    </div>



    
</Layout>