---
import Layout from "../layouts/Layout.astro";
import HeaderInterna from "../components/HeaderInterna.astro";
import EntidadGridElemento from "../components/EntidadGridElemento.astro";
---

<Layout>
    <HeaderInterna titulo="Socios" />

    <div class="entidadgrid">
        <EntidadGridElemento
            imagenSrc="https://placehold.co/150x150"
            imagenAlt="Logo de la entidad"
            titulo="Nombre de la entidad"
            descripcion="Descripción de la entidad que nos está ayudando mucho en este proceso"
        />
        <EntidadGridElemento
            imagenSrc="https://placehold.co/150x150"
            imagenAlt="Logo de la entidad"
            titulo="Nombre de la entidad"
            descripcion="Descripción de la entidad que nos está ayudando mucho en este proceso"
        />
        <EntidadGridElemento
            imagenSrc="https://placehold.co/150x150"
            imagenAlt="Logo de la entidad"
            titulo="Nombre de la entidad"
            descripcion="Descripción de la entidad que nos está ayudando mucho en este proceso"
        />
        <EntidadGridElemento
            imagenSrc="https://placehold.co/150x150"
            imagenAlt="Logo de la entidad"
            titulo="Nombre de la entidad"
            descripcion="Descripción de la entidad que nos está ayudando mucho en este proceso"
        />
        <EntidadGridElemento
            imagenSrc="https://placehold.co/150x150"
            imagenAlt="Logo de la entidad"
            titulo="Nombre de la entidad"
            descripcion="Descripción de la entidad que nos está ayudando mucho en este proceso"
        />
    </div>
</Layout>
