<div class="contenedorelemento">
    <div class="griddoscolumnas">
        <div>
            <h2>Titulo del bloque</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        </div> 
        <div>
            <img src="https://placehold.co/400x300" alt="Imagen del bloque">
        </div>
    </div>
</div>
