---
import ArticuloCard from "./ArticuloCard.astro";
import articulos from "../../public/json/articulos.json";

// Tomar los últimos 3 elementos sin importar la fecha
const ultimosArticulos = articulos.slice(-2).reverse();
---

<div class="contenedorelemento">    
  <h2>Últimos Artículos</h2>

  <div class="griddoscolumnas">
    {
      ultimosArticulos.map((articulo) => (
        <ArticuloCard
          imagenSrc={articulo.imagen_url}
          imagenAlt={articulo.titulo}
          titulo={articulo.titulo}
          enlace={articulo.url}
        />
      ))
    }
  </div>
</div>
