

<header>    
    <h1>Header</h1>

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/acerca">Acerca de</a> 
            </li>
            <li>
                <a href="/socios">Socios</a>
            </li>
        </ul>
    </nav>
</header>