

<header>  
    <nav class="nav-container">
        <div class="logo">
            <img src="/assets/logos/logo-udlap-250.png" alt="Logo de la empresa">
        </div>
        <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/acerca">Acerca de</a> 
            <a href="/socios">Socios</a>
            <a href="/servicios">Servicios</a>

        </div>
    </nav>

</header>