---
import ArticuloCard from "./ArticuloCard.astro";
---


<div class="contenedorelemento">    
    <h2>Tres Articulos</h2>

    <div class="gridtrescolumnas">
        <ArticuloCard
            imagenSrc="https://placehold.co/400x250"
            imagenAlt="Imagen del articulo"
            titulo="Titulo del articulo"
            enlace="#"
        />
        <ArticuloCard
            imagenSrc="https://placehold.co/400x250"
            imagenAlt="Imagen del articulo"
            titulo="Titulo del articulo"
            enlace="#"
        />
        <ArticuloCard
            imagenSrc="https://placehold.co/400x250"
            imagenAlt="Imagen del articulo"
            titulo="Titulo del articulo"
            enlace="#"
        />
         
    </div>
</div>